{% block title %}{{ vm.pageTitle }}{% endblock %}

{% extends '::base_layout.html.twig' %}

{% block base_layout %}
    <div class="site-layout">
        <div class="a">
            <div class="row">
                <div class="col-xs-12 col-md-10">
                    <h2>Mise à jour</h2>

                    {{ form_start(form, {'attr': {'class': 'form', 'id': 'form-parcel'}}) }}
                        <div class="form-group">
                            {{ form_label(form.houseNumber, 'Nombre de maisons') }}
                            {{ form_widget(form.houseNumber, { 'attr': { 'class': 'form-control' } }) }}
                            {{ form_errors(form.houseNumber) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.city, 'Ville') }}
                            {{ form_widget(form.city, { 'attr': { 'class': 'form-control' } }) }}
                            {{ form_errors(form.city) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.street, 'Avenue et numero') }}
                            {{ form_widget(form.street, { 'attr': { 'class': 'form-control' } }) }}
                            {{ form_errors(form.street) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.commune, 'Commune') }}
                            {{ form_widget(form.commune, { 'attr': { 'class': 'form-control' } }) }}
                            {{ form_errors(form.commune) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.quarter, 'Quartier') }}
                            {{ form_widget(form.quarter, { 'attr': { 'class': 'form-control' } }) }}
                            {{ form_errors(form.quarter) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.description, 'Description') }}
                            {{ form_widget(form.description, { 'attr': { 'class': 'form-control' } }) }}
                            {{ form_errors(form.description) }}
                        </div>


                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(form.forSale) }}
                                    A vendre ?
                                </label>
                            </div>
                        </div>


                        <div class="form-group">
                            <button class="button" type="submit">enregister</button>
                        </div>

                    {{ form_end(form) }}
                </div>
                <div class="col-xs-12 col-md-2">
                    {{ form_start(delete_form, {'attr': {'id': 'form-job-delete'}}) }}
                    {{ form_widget(delete_form) }}
                    <button class="button button--danger button--no-shadow">Supprimer</button>
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>

        <div class="b">
            {% include 'FOSUserBundle:sidebar:b.html.twig' %}
        </div>
    </div>
{% endblock %}
