{% block title %}{{ vm.pageTitle }}{% endblock %}

{% extends '::base_layout.html.twig' %}

{% block base_layout %}
    <div class="site-layout">
        <div class="a">
            <div class="row">
                <div data-parcel data-id="{{ parcel.id }}" class="col-xs-12 col-md-10">
                    <h2>détails de la parcelle <span class="text-grey">"{{ block('title') }}"</span></h2>

                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Nombre de maison {{ parcel.houseNumber }}</td>
                            </tr>
                            <tr>
                                <td>A vendre? {{ parcel.forSale }}</td>
                            </tr>
                            <tr>
                                <td>Ville {{ parcel.city }}</td>
                            </tr>
                            <tr>
                                <td>Avenue {{ parcel.street }}</td>
                            </tr>
                            <tr>
                                <td>Commune {{ parcel.commune }}</td>
                            </tr>
                            <tr>
                                <td>Quartier {{ parcel.quarter }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <span>Description</span>
                                    <p>{{ parcel.description }}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- /.a -->

        <div class="b">
            {% include 'FOSUserBundle:sidebar:c.html.twig' %}
        </div>
    </div>
{% endblock %}
