<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>An Error Occurred: {{ status_text }}</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div id="side-menu__container" class="side-menu__container">
        <a href="#" class="close" id="side-menu-close"><i class="ion-arrow-left-c"></i></a>

        <div class="side-menu">
            <div class="side-menu__mobile">
                <a href="/jobs" class="item">Offres</a>
                <a href="/jobs" class="item">Site</a>
            </div>
        </div>

    </div>

    <!-- <nav id="standard-menu" class="standard-menu"> -->
    <div style="height:60px"></div>
    <nav id="standard-menu" class="standard-menu">
        <a href="/" class="menu__logo">
            <img src="{{ asset('img/logo-outline.png') }}" alt="Logo le Recruteur">
            <span>Le Recruteur</span>
        </a>

        <div class="menu__items">
            <a href="/jobs">Offres</a>
        </div>
    </nav>

    <div class="container">

        <h3 class="errors__hummer">Ouuuuuuuuuuuups</h3>

        <div class="errors">
            <p class="errors__text">
                <span>{{ status_text }}</span>
                <span class="errors__code">{{ status_code }}</span>
            </p>
        </div>

        <div class="errors__help-message">
            <p>
                Il semble que la <strong>page</strong> que vous recherchez est <em>indisponible</em>. <br>
                Nous sommes sûre que cette erreur ne se produira plus dans l'avenir.
            </p>
        </div>

    </div>


    <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
</body>
</html>
