{% trans_default_domain 'FOSUserBundle' %}


<div class="site-layout">
     <div class="a">
        <h2>Mettre à jour votre profil</h2>

         {# <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit form"> #}
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
             <div class="form-group">
                 {{ form_label(form.username) }}
                 {{ form_widget(form.username) }}
                 {{ form_errors(form.username) }}
             </div>

             <div class="form-group">
                 {{ form_label(form.email) }}
                 {{ form_widget(form.email) }}
                 {{ form_errors(form.email) }}
             </div>

             <div class="form-group">
                 {{ form_label(form.firstname, 'Nom') }}
                 {{ form_widget(form.firstname) }}
                 {{ form_errors(form.firstname) }}
             </div>

             <div class="form-group">
                 {{ form_label(form.lastname, 'Prénom') }}
                 {{ form_widget(form.lastname) }}
                 {{ form_errors(form.lastname) }}
             </div>

             <div class="form-group">
                 {{ form_label(form.gender, 'Sexe') }}
                 {{ form_widget(form.gender) }}
                 {{ form_errors(form.gender) }}
             </div>

             <div class="form-group">
                 {{ form_label(form.image, 'Choisir une photo') }}
                 {{ form_widget(form.image) }}
                 {{ form_errors(form.image) }}
             </div>

             <div class="form-group">
                 {{ form_label(form.current_password) }}
                 {{ form_widget(form.current_password) }}
                 {{ form_errors(form.current_password) }}
             </div>

             {{ form_rest(form) }}
             <div class="form-group">
                 <button class="button" type="submit">{{ 'profile.edit.submit'|trans }}</button>
             </div>
         {# </form> #}
         {{ form_end(form) }}
     </div>
     <div class="b">
        {% include 'FOSUserBundle:sidebar:b.html.twig' %}
     </div>
 </div>
