{% set sidebar_menu_active = 'subcategories' %}

{% block title %}{{ vm.pageTitle }}{% endblock %}

{% extends '::base_admin.html.twig' %}

{% block body %}
    <header class="header header--min">
        <div class="container">
            <div class="g-content-container">
                <h2>Les sous categories</h2>
                <a href="{{ path('manager_job_subcategories_new') }}" class="btn btn-success btn-lg">+ ajouter</a>
            </div>
        </div>
    </header>

    <section class="section">
        <div class="container">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>nom</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in vm.collections %}
                        <tr data-id="{{ category.id }}">
                            <td>{{ category.name }}</td>
                            <td>
                                <a href="{{ path('manager_job_subcategories_show', {'id': category.id}) }}" class="btn btn-default btn-sm">show</a>
                                <a href="{{ path('manager_job_subcategories_edit', {'id': category.id}) }}" class="btn btn-warning btn-sm">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
