{% block title %} Choisir votre type de compte {% endblock %}

{% extends '::base_layout.html.twig' %}

{% block base_layout %}
    <div class="container">
        <div class="site__header">
            <div class="text-center">
                <img width="450px" src="{{ asset('img/6.jpg') }}" alt="">
            </div>

            <div class="text-center">
                <h2>Choisissez le type de votre compte</h2>
            </div>

        </div>

        <div class="row ">
            <div class="col-xs-12 col-md-6 bg_compte">
                <h3>Publicateur d'emploi</h3>
                <a href="{{ path('users_signin') }}?_as=advertiser" class="panel_compte" style="margin-top: 20px;">
                    <i class="ion-person" style="font-size:100px; margin-left:45px;" aria-hidden="true"></i>
                </a>

            </div>
            <div class="col-xs-12 col-md-6 bg_compte">
                <h3>Publicateur immobilier</h3>
                <a href="{{ path('users_signin') }}?_as=immo" class="panel_compte" style="margin-top: 20px;">
                    <i class="ion-person" style="font-size:100px; margin-left:45px;" aria-hidden="true"></i>
                </a>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-xs-12 col-md-6 bg_compte">
                 <h3>Acteur du marcher</h3>
                 <a href="{{ path('users_signin') }}?_as=all" class="panel_compte" style="margin-top: 20px;">
                     <i class="ion-person" style="font-size:100px; margin-left:45px;" aria-hidden="true"></i>
                 </a>
             </div>
             <div class="col-xs-12 col-md-6 bg_compte">
                 <h3>Demandeur d'emploi</h3>
                 <a href="{{ path('users_signin') }}?_as=applicant" class="panel_compte" style="margin-top: 20px;">
                     <i class="ion-person" style="font-size:100px; margin-left:45px;" aria-hidden="true"></i>
                 </a>
             </div>
        </div>
    </div>
{% endblock %}
