<div class="base-search">
    <form action="{{ path('jobs_search_index') }}" method="GET">
        <h6 class="title">Trouvez un travail</h6>

        <div class="form-group">
            <p class="placeholder">Quoi ?</p>
            <select name="categories[]" multiple class="site-select2">
                {% for category in categories %}
                    <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <span class="placeholder">exemple: {{ categories[0].name|default('') }}, {{ categories[1].name|default('')}}</span>
        </div>

        <div class="form-group">
            <p class="placeholder">Ou ?</p>
            <select name="locations[]" multiple class="site-select2">
                {% for location in locations %}
                    <option value="{{ location.town }}">{{ location.town }}</option>
                {% endfor %}
            </select>
            <span class="placeholder">exemple: {{ locations[0].town|default('') }}, {{ locations[1].town|default('') }}</span>
        </div>

        <div class="form-group form-group--last">
            <button class="button" type="submit">Rechercher</button>
        </div>
    </form>
</div>
