{% set sidebar_menu_active = false %}

{% extends 'FOSUserBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">


        <div class="user__form-container">
            <h3 class="title">Se conneter</h3>

            <form class="form padding" action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <div class="form-group">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>


                <div class="form-group">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input class="form-control" type="password" id="password" name="_password" required="required" />
                </div>

                <div class="form-group">
                    <label class="form-control--label" for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <span class="f-checkbox"></span>
                        {{ 'security.login.remember_me'|trans }}
                    </label>
                </div>

                <div class="form-group">
                    <button class="button"><i class="icon-android-done-all"></i> Connexion</button>
                </div>
            </form>
        </div>

        <p class="user__create-account"><a href="{{ path('users_join_us') }}">si c'est la première fois, vous pouvez créer un nouveau compte ici</a></p>
    </div>
{% endblock fos_user_content %}
